<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="card-body" style="background-color: chocolate">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'clipboard'" class="font-warning"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">Total Facture Client</span>
              <h3 class="mb-0">Total : <span class="counter" >{{totalFactureClient}}</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="card-body" style="background-color: #E74C3C">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'clipboard'" class="font-primary"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">Total TTC Facture Client </span>
              <h3 class="mb-0">Total : <span class="counter">{{totalTTC }}</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="card-body" style="background-color: #87CEFA">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'clipboard'" class="font-warning"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">Total Produit</span>
              <h3 class="mb-0">Total : <span class="counter" >{{totalProduit}}</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="card-body" style="background-color: #2471A3">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'cloud'" class="font-warning"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">Total Client</span>
              <h3 class="mb-0">Total : <span class="counter" >{{totalClient}}</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
